/* Top of page */

/* Header */
.topHeader {
  height: 300px;
  background-color: rgba(160, 240, 185, 1);
  background-image: url(../photos/donutsInOil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  padding-left: 35px;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.introFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sideBar {
  max-width: 500px;
  margin: 0 auto;
  padding: 5%;
}
.sideBar img {
  border-radius: 40px;
}
.intro {
  max-width: 60%;
  padding: 3%;
}
.jump {
  text-align: center;
  text-decoration: none;
  color: grey;
}
article {
  margin: 15px auto;
  padding: 20px 25px;
}


/*Universal sytles */
body {
  margin: 0 auto;
  font-size: 16px;
  background-color: rgba(243, 243, 243, 0.79);
}

/* Fonts */
h1, h2, h3, h4, h5, h6, .commentBox p {
  font-family: 'Darker Grotesque', Arial Black, sans-serif;
}
p {
  font-family: 'Lora', Georgia, serif;
  line-height: 18px;
}
h1 {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  text-shadow: 1, 1, grey;
}
h2 {
  font-size: 2.5em;
  font-weight: 800;
}
article h2 {
  background-color: rgba(160, 240, 185, .5);
}
h3 {
  font-size: 1.6em;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  font-weight: 600;
}
h6, p {
  font-size: 1em;
  padding: 10px 0;
}
.recipeTitle {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgba(137, 106, 21, 1);
  font-weight: bold;
}
/* Fonts end here */



/* Flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.blogPost {
  max-width: 900px;
  margin: 0 auto;
}




/* Images */
img {
  padding: 8px;
}
.leftPic {
  float: left;
  margin: 0 15px 15px 0;
  border-radius: 5px;
}
.rightPic {
  float: right;
  margin: 0 15px 15px 0;
  border-radius: 5px;
}

/*.rotate {
  tranasform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  }*/
  /*padding: 15px 5px 25px 5px;         also fix post 9 picture*/


#averyIsland {
  cursor: pointer;
  transition: 0.3s;
}
#averyIsland:hover {opacity: 0.7};
/* The Modal (background) */

/* Post 10 picture box*/
      /*when i delete this everything goes sideways even though it's not in use*/
.photoBox {
  display: flex;
  flex-flow: row-reverse wrap;
  margin: 15px;
  justify-content: space-around;
}
/*.clem {
  flex-shrink: 2;
}*/
.photoBox2 {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  justify-content: space-around;
}
.captionText {
  padding: 20px 0 0 35px;
}

.float {
  display: flex;
  align-items: center;
  margin: 15px;
}
.space {
  padding: 10px 0;
}

/* Images end here */

/* Comment Sections PHP
textarea {
  resize: none;
}

button {
  width: 80px;
  height: 30px;
  background-color: green;
  border: solid 1px black;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 50px;
}

.commentBox {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.commentBox p {

}
*/
